html {
  font-size: 62.5%;

  --font-primary: "Arvo", serif;
  --font-secondary: "Source Sans Pro", sans-serif;

  --color-white: #fff;
  --color-black: #000;
  --color-lightgray: #ddd;
  --color-darkgray: #373737;
  --color-blue: #3280e9;
  --color-dark-blue: #3157ac;
  --color-red: #ff4c4c;
  --color-green: #4fd77e;
  --color-darkblue: #252f43;
  --color-darker-darkblue: #1d2636;
  --color-darkest-darkblue: #161d28;

  --background-lighter: var(--color-darkblue);
  --background: var(--color-darkest-darkblue);
  --background-darker: var(--color-darker-darkblue);
  --background-video: var(--color-black);
  --background-reverse: var(--color-white);

  --color-text: var(--color-white);
  --color-text-reverse: var(--color-darkgray);

  --box-shadow-1: 0 1px 6px rgba(0, 0, 0, 0.25);
  --box-shadow-2: 0 1px 12px rgba(0, 0, 0, 0.4);
  --box-shadow: 20px 20px 60px #0f141c, -20px -20px 60px #1d2634;

  --button-background: var(--color-blue);
  --button-background-gradient: linear-gradient(25deg, #3280e9, #74e396);
  --button-text: var(--color-white);

  --button-danger-background: var(--color-red);

  --input-active-background: var(--color-green);

  --outline-style: 2px dashed var(--color-green);
}

body {
  min-height: 100vh;

  font-size: 1.6rem;
  font-family: var(--font-primary);

  background-color: var(--background-lighter);
  background-image: linear-gradient(
    -45deg,
    var(--background),
    var(--background-darker) 75%
  );
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.8;
}

.Toastify__toast {
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  font-family: inherit;
  padding: 1rem;
}

.Toastify__close-button {
  align-self: center;
}
